@model IEnumerable<Repaso.Models.vehiculo>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Guardar")
</p>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <font color="green">@ViewBag.mensaje</font>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.foto)" width="200px" />

            </td>
            <td>
                @Html.ActionLink("Editar", "Modificar", new { id = item.Id }) |
                @Html.ActionLink("Ver", "Detalle", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Eliminar", new { id = item.Id })
            </td>
        </tr>
    }

</table>
